{% extends 'base.html' %}

{% block title %}{{ category.name }} | Categories{% endblock %}

{% block content %}
{% if category.icon %}
    <img src="{{ category.icon.url }}" alt="{{ category.name }}">
{% endif %}

<h1>{{ category.name }}</h1>

{% if category.author == user %}
    <a href="{% url 'pages:create-page' %}">Create page</a>
    <a href="{% url 'categories:delete-category' slug=category.slug %}">Delete this category</a>
    <a href="{% url 'categories:update-category' slug=category.slug %}">Update this category</a>
{% endif %}

<p class="category-description">{{ category.description }}</p>

<ul class="category-pages">
    {% for page in pages %}
        <li class="category-page">
            <h3 class="category-page-title">
                <a href="{% url 'pages:page-detail' slug=page.slug %}">
                    {{ page.title }}
                </a>
            </h3>
            <p class="category-page-description">{{ page.description }}</p>
        </li>
    {% endfor %}
</ul>
{% endblock %}